#nav-container{
    width: 90%;
    height: 50px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 6px;
    font-family: sans-serif;
    align-items: center;
    border-radius: 6px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#sign-in{
    width: 10%;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
#home-receipes-container{
    width: 30%;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    
}
h3{
    font-family: cursive;
    color: orangered;
    font-size: 30px;
}